.endorsement-title {
    font-weight: 800;
    font-size: 20px;
  }
  
  .endorsement-wrapper {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: white;
    box-shadow: 8px 8px 12px rgba(10, 63, 102, 0.15);
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 0 20px;
  
    @media (max-width: 650px) {
      overflow-x: auto !important;
    }
  
    //CABEZA DE LA TABLA
  
    .content {
      width: 100%;
      height: auto;
      padding-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-bottom: 10px;
  
      .button-cont {
        width: 100%;
        height: auto;
        margin-top: 20;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        .blue-btn {
          color: white;
          width: 200px;
          height: 35px;
          background: #003d6d;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: normal;
          text-transform: capitalize;
        }
  
        .clear-btn {
          width: 200px;
          height: 35px;
        }
      }
    }
  
    .v-btn {
      justify-content: flex-start !important;
      color: #003d6d;
    }
  }
  
  .table-container {
    margin-top: 30px;
  }
  
  .title-col {
    width: 10%;
  }
  
  .table-col {
    width: 40%;
  
    .inner-col {
      width: 50%;
    }
  }
  
  .table-title {
    height: 50px;
    color: white;
    font-weight: 800;
    background-color: #547fa9;
    border-radius: 6px;
    margin: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-title-space {
    height: 54px;
  }
  
  .table-subtitle {
    height: 60px;
    font-weight: 800;
  }
  
  .stepper-btn {
    width: 100%;
    height: 40px;
  
    .blue-btn {
      color: white;
      width: 200px;
      height: 35px;
      background: #003d6d;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: capitalize;
    }
  
    .clear-btn {
      width: 200px;
      height: 35px;
    }
  }
  
  .v-stepper__items {
    width: 100%;
  }
  
  .col-subtitle {
    min-height: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
  }
  
  .table-input {
    min-height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  
  .blue-input {
    background-color: #dce5fc;
  }
  
  .input-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .input-col {
    width: 23%;
    display: block;
    margin-right: 30px;
  }
  
  .input-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px 0;
  }
  
  .input-title {
    width: 100%;
  }
  
  .inner-title {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    margin: 15px 0;
  }
  
  .column-title {
    font-size: 16px;
    font-weight: 800;
  }
  
  .v-sheet.v-stepper:not(.v-sheet--outlined) {
    box-shadow: none !important;
  }
  
  .v-stepper__step__step {
    display: none !important;
  }
  
  .v-stepper__label {
    color: #547fa9;
    font-weight: 800;
  }
  
  .v-application .primary {
    background-color: #586675 !important;
    border-color: #1c2b39 !important;
  }
  
  .theme--light.v-stepper
    .v-stepper__step:not(.v-stepper__step--active):not(
      .v-stepper__step--complete
    ):not(.v-stepper__step--error)
    .v-stepper__step__step {
    background: rgb(186, 34, 34);
  }
  
  .v-stepper__header {
    justify-content: center;
    box-shadow: none;
  }
  
  .theme--light.v-stepper {
    background: #ffe9e900;
  }
  
  .error-message {
    font-size: 12px;
    color: red;
    max-width: 200px;
    transform: translateY(-14px);
  }
  
  .editAccount {
    width: auto;
    color: #f59607;
    font-weight: 600;
    font-size: 19px;
  }
  
  .textArea-cont {
    margin-top: 20px;
  }
  
  .description-container {
    width: 80%;
    // margin: 40px 0;
  }
  
  .description-container-step2 {
    width: 80%;
    margin: 40px auto;
  }
  
  .detail-date {
    width: 65%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .table-title-detail {
    &--large {
      width: 100%;
    }
  
    width: 100%;
    font-weight: 800;
    font-size: 16px;
    line-height: 110%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 5px;
  }
  